---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%] from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue"
      >
        WEB HERO
      </span>
    </h1>
  </div>
  <div>
    <img src="/images/cat.png" alt="hero" class="w-48 h-48 sm:w-96 sm:h-96 mx-auto mb-4" />
  </div>
  <!-- <p class="text-2xl pb-4 text-center">Welcome to Web Developers Blog.</p> -->
</section>
