---
import Card from "./Card.astro";
import fetchApi from "src/lib/strapi";
import type Article from "src/interfaces/article";

const articles = await fetchApi<Article[]>({
  endpoint: "articles",
  wrappedByKey: "data",
  query: {
    sort: {
      created: 'desc'
    },
    pagination: {
      limit: 4
    }
  },
});
---

<section class="mb-8 max-w-4xl mx-auto">
  <div class="flex text-center justify-center pb-4">
    <h2
      class="text-3xl text-center bg-left-bottom bg-[length:100%_35%] bg-no-repeat bg-gradient-to-r from-primary-yellow to-primary-yellow dark:from-primary-blue dark:to-primary-blue" 
    >
      Latest
    </h2>
  </div>

  <div
    class="grid justify-items-center sm:grid-cols-2 gap-4 sm:justify-between"
  >
    {
      articles.map((post) => {
        return <Card post={post} />;
      })
    }
  </div>
</section>
