---
import { readAll } from "../lib/markdoc/read";
import { blog } from "../lib/markdoc/frontmatter.schema";
import Card from "./Card.astro";

const posts = await readAll({
  directory: "blog",
  frontmatterSchema: blog,
});

const sortedPosts = posts
  .filter((p) => p.frontmatter.draft !== true)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf()
  )
  .slice(0, 6);
---

<section class="mb-8">
  <p class="text-2xl pb-4 text-center">Check The Latest Posts</p>

  <div
    class="grid flex-col justify-items-center sm:grid-cols-2 gap-3 sm:justify-between"
  >
    {
      sortedPosts.map((post) => {
        return <Card post={post} />;
      })
    }
  </div>
</section>
