---
import Card from "./Card.astro";

import fetchApi from "src/lib/strapi";
import type Article from "src/interfaces/article";

const articles = await fetchApi<Article[]>({
  endpoint: "articles",
  wrappedByKey: "data",
  query: {
    filters: {
      popular: {
        $eq: true,
      }
    },
    pagination: {
      limit: 4
    }
  },
});
---

<section class="flex flex-col mb-8 max-w-4xl mx-auto">
  <div class="flex text-center justify-center py-8">
    <h2 class="text-4xl text-center bg-left-bottom bg-[length:100%_35%] bg-no-repeat bg-gradient-to-r from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue">Most Popular</h2>
  </div>

  <div class="grid sm:grid-cols-2 gap-4">
    {
      articles?.map((post) => {
        return <Card post={post} />;
      })
    }
  </div>
</section>
