---
import { readAll } from "../lib/markdoc/read";
import { blog } from "../lib/markdoc/frontmatter.schema";
import Card from "./Card.astro";

const posts = await readAll({
  directory: "blog",
  frontmatterSchema: blog,
});

const sortedPosts = posts
  .filter((p) => p.frontmatter.draft !== true && p.frontmatter.popular === true)
  .slice(0, 6);
---

<section class="flex flex-col mb-8 max-w-4xl mx-auto">
  <p class="text-2xl pb-4 text-center">Most Popular Posts</p>

  <div
    class="grid sm:grid-cols-2 gap-4"
  >
    {
      sortedPosts.map((post) => {
        return (
          <Card post={post} />
        );
      })
    }
  </div>
</section>
