---
/* 
  This layout is used in pages that render markdoc content
  - pages/blog/[slug].astro
*/

// Import the global.css file here so that it is included on
import "../styles/global.css";

import GoogleFont from "./GoogleFont.astro";
import FontAwesome from "./FontAwesome.astro";
import ThemeScript from "./ThemeScript.astro";
import Favicon from "./Favicon.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Cannonical from "./Cannonical.astro";

export interface Props {
  title: string;
  date: Date;
  slug: any;
}

const { title, date, slug } = Astro.props;
const formattedDate = new Date(date).toLocaleDateString("en-us", {
  year: "numeric",
  month: "short",
  day: "numeric",
});
const cannonicals = {
  "using-jotai-in-your-react-application": "https://medium.com/p/de460568ac9d",
  "how-to-master-javascript-in-2024": "https://medium.com/p/31a8ecb89d88",
  "powering-react-application-with-apollo-client": "https://medium.com/p/3c3f56c3b8f3",
  "how-to-send-email-using-nodejs": "https://medium.com/p/40fe5708607c",
  "techniques-for-conditional-rendering-in-react": "https://medium.com/p/96af874bb3d6",
  "solid-principles-in-react-application": "https://medium.com/p/60294a56f885",
  "optimizing-frontend-performance": "https://medium.com/p/046d4c4466fd",
  "nodejs-21-leap-forward-in-security-and-features": "https://medium.com/p/93146d6f8804",
  "mastering-javascript-in-2023-the-comprehesive-guide": "https://medium.com/p/62d03de3da32",
  "comparing-react-state-management-solutions": "https://medium.com/p/7fc5173111da",
  "animating-react-components-with-framer-motion": "https://medium.com/p/c7f2671a2192",
  "rust-vs-go-with-is-better": "https://medium.com/p/18a4ea0a1926",

} as any;
const isCannonical = cannonicals[slug] || false;
---

<!DOCTYPE html>
<html class="theme-bubblegum" lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <Favicon />
    <slot name="meta" />
    <GoogleFont />
    <ThemeScript />
    <FontAwesome />
    {isCannonical && <Cannonical link={cannonicals[slug]} />}
  </head>

  <body class="min-h-screen">
    <Header />
    <main id="main" class="max-w-3xl mx-auto">
      <section class="blog-post prose max-w-none prose-bubblegum">
        <h1 class="pt-10 m-0 mb-[0.25em]">
          <span
            class="pl-6 relative block leading-[150%] after:absolute after:content-[''] after:w-2 after:h-full after:top-0 after:left-0 after:bg-primary-green"
          >
            {title}
          </span>
        </h1>

        <time class="flex mb-[1em] mt-[1em] text-text-muted items-center"
          ><i class="fa fa-calendar mr-2 mb-1" aria-hidden="true"></i>{
            formattedDate
          }</time
        >

        <slot name="content" />
      </section>
    </main>
    <Footer />
    <style>
      body {
        display: grid;
        grid-template-areas:
          "header"
          "main"
          "footer";
        grid-template-rows: 5rem minmax(0, 1fr) 5rem;
        grid-template-columns: minmax(0, 1fr);
      }
      main {
        grid-area: main;
      }
    </style>
  </body>
</html>
